html {
  font-family: sans-serif;
  box-sizing: unset;
}
body {
  margin: 0;
  background-color: #2e3442;
  cursor: pointer;
   line-height: unset;
}

.navbar {
  height: 100px;
  padding: 1em;
  padding-bottom: 4em;
}

.nav_container {
  display: flex;
}

.search {
  flex: 1;
}

li {
  margin:20px;
  justify-content: flex-end;
  margin-left: auto;
}
ul{
  list-style: none;
  color: white;
}
.searcher{
  margin: 0;
  padding: 0;background-color:#2e3442;font-size: 1em;border:none;
  height: 21px;
  width: 300px;
  padding-left: 25px;
  }

  .ui.list>.item .header{
  color: white;
}
  .header_content{
    margin:0 50px 0 50px;
    border-bottom: 2px solid #58606d;
  }
  
  li a{
    color: white;
    }

    .img-valign {
      margin-bottom: -0.15em;
      vertical-align: -webkit-baseline-middle;
    }

.item {
  font-size: 0.8em;
}

* {
  margin: 0;
  padding: 0; 
}

#nav-icon1 {
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 71%;
  background: white;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

